# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment & Dependencies
.env
venv/
.venv/
env/

# IDE & OS
.DS_Store
.vscode/
.idea/

# Temporary files
/tmp/
*.log
*.bak
